{{- if eq (.profile | default "desktop") "remote" }}
CLAUDE.md
AGENTS.md
.zshrc
.config/alacritty
.config/bitmap.svg
.config/passmenu.sh
.config/i3
.config/i3status
.config/kitty
.config/mako
.config/neofetch
.config/polybar
.config/sway
.config/swaylock
.config/wallpaper.png
.config/waybar
.config/wofi
.unison
{{- end }}
