#
# ~/.bashrc
#

# Execute non-interactive stuff first

# Add user bin
export PATH="$HOME/.local/bin/:$PATH"

# Time
export TZ='America/Los_Angeles'

# Common roots
export TOOLS_DIR="$HOME/tools"
export DOCS_DIR="$HOME/docs"
export PROJECTS_DIR="$HOME/projects"
export ORG_DIR="$HOME/org"
export TYPST_DIR="$HOME/typst"
export TEX_DIR="$HOME/tex"

# CS140E/240LX
#export PATH="$TOOLS_DIR/gcc-arm-none-eabi-10.3-2021.10/bin:$PATH"
export PATH="$TOOLS_DIR/gcc-arm-none-eabi-10-2020-q4-major/bin:$PATH"
export PATH="$TOOLS_DIR/gcc-arm-10.2-2020.11-x86_64-aarch64-none-elf/bin:$PATH"
export PATH="$TOOLS_DIR/arm-gnu-toolchain-14.3.rel1-x86_64-aarch64-none-linux-gnu/bin:$PATH"
export CS140E_PATH="$PROJECTS_DIR/stanford/englerverse/140e/"
export CS140E_2024_PATH="$PROJECTS_DIR/stanford/englerverse/140e-24/"
export CS140E_2025_PATH="$PROJECTS_DIR/stanford/englerverse/140e-25/"
export CS140E_2026_PATH=$CS140E_PATH
# export CS140E_2026_PATH="$HOME/tmp/cs140e-26win/"
export CS240LX_2024_PATH="$PROJECTS_DIR/stanford/englerverse/240lx-24"
export CS240LX_2025_PATH="$PROJECTS_DIR/stanford/englerverse/240lx-25"
export CS340LX_2025_PATH="$PROJECTS_DIR/stanford/englerverse/340lx-25"
export PATH="$CS140E_PATH/bin:$PATH"

# Bossa
export PATH="$TOOLS_DIR/BOSSA/bin:$PATH"

# PyEnv
#export PYENV_ROOT="$HOME/.pyenv"
#command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"

# STM32
export STM32_PRG_PATH="$TOOLS_DIR/STMicroelectronics/STM32Cube/STM32CubeProgrammer/bin"
export PATH="$STM32_PRG_PATH:$PATH"

# TEX
export MANPATH="/usr/local/texlive/2025/texmf-dist/doc/man:$MANPATH"
export INFOPATH="/usr/local/texlive/2025/texmf-dist/doc/info:$INFOPATH"
export PATH="/usr/local/texlive/2025/bin/x86_64-linux:$PATH"

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# SSH doesn't forward COLORTERM; set it for terminals known to support truecolor
if [[ -z "$COLORTERM" && "$TERM" == alacritty* ]]; then
  export COLORTERM=truecolor
fi

# Shell line
PS1='\W $ '

# Common aliases
alias ls='ls --color=auto'
alias ll='\ls --color=never'
alias la='\ls -alh --color=never'
alias grep='grep --color=auto'

# XClip 
if command -v xclip > /dev/null; then
  alias copy='xclip -i -selection c'
  alias paste='xclip -o -selection c'
  alias pwdc='echo $PWD | copy'
  alias pwdp='cd $(paste)'

# Or wl-copy
elif command -v wl-copy > /dev/null; then
  alias copy='wl-copy'
  alias paste='wl-paste'
  alias pwdc='echo $PWD | copy'
  alias pwdp='cd $(paste)' 
fi

# Emacs
if command -v emacsclient > /dev/null; then
  alias emacs='emacsclient -c'
fi

# PyEnv
# if command -v pyenv > /dev/null; then
#   eval "$(pyenv init -)"
# fi

# hledger
if command -v hledger > /dev/null; then
  export LEDGER_FILE="$PROJECTS_DIR/personal/finances/2024.journal"
  export TIME_FILE="$PROJECTS_DIR/personal/time/2024.timeclock"

  ti() {
    echo "i $(date '+%Y-%m-%d %H:%M:%S') $1" >> "$TIME_FILE"
  }
  alias to='echo o $(date "+%Y-%m-%d %H:%M:%S") >>$TIME_FILE'
fi

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

# Go
export PATH="$HOME/go/bin:$PATH"

# Menu
alias menu="node $PROJECTS_DIR/personal/menu/index.mjs"

# Racket
export PATH="$TOOLS_DIR/racket/bin:$PATH"

[ -f "$HOME/.ghcup/env" ] && . "$HOME/.ghcup/env" # ghcup-env

# GPG
if command -v gpg > /dev/null; then
  export GPG_TTY=$(tty)
  gpg-connect-agent /bye
{{- if eq (.profile | default "desktop") "desktop" }}
  unset SSH_AGENT_PID
  if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
    export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
  fi
{{- end }}
fi

# neovim
if command -v nvim > /dev/null; then
  alias nv='nvim'
  export EDITOR="$(which nvim)"
  export VISUAL="$(which nvim)"
  export MANPAGER='nvim +Man!'
fi

# Conda
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('$HOME/miniforge3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
if [ -f "$HOME/miniforge3/etc/profile.d/conda.sh" ]; then
    . "$HOME/miniforge3/etc/profile.d/conda.sh"
else
    export PATH="$HOME/miniforge3/bin:$PATH"
fi
fi
unset __conda_setup
# <<< conda initialize <<<

[ -f "$HOME/.local/bin/env" ] && . "$HOME/.local/bin/env"

# >>> juliaup initialize >>>

# !! Contents within this block are managed by juliaup !!

case ":$PATH:" in
    *:$HOME/.juliaup/bin:*)
        ;;

    *)
        export PATH=$HOME/.juliaup/bin${PATH:+:${PATH}}
        ;;
esac

# <<< juliaup initialize <<<

# OSS CAD Suite
export PATH="$TOOLS_DIR/oss-cad-suite/bin:$PATH"


# NNN
n ()
{
    # Block nesting of nnn in subshells
    [ "${NNNLVL:-0}" -eq 0 ] || {
        echo "nnn is already running"
        return
    }

    # The behaviour is set to cd on quit (nnn checks if NNN_TMPFILE is set)
    # If NNN_TMPFILE is set to a custom path, it must be exported for nnn to
    # see. To cd on quit only on ^G, remove the "export" and make sure not to
    # use a custom path, i.e. set NNN_TMPFILE *exactly* as follows:
    #      NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"
    export NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

    # Unmask ^Q (, ^V etc.) (if required, see `stty -a`) to Quit nnn
    # stty start undef
    # stty stop undef
    # stty lwrap undef
    # stty lnext undef

    # The command builtin allows one to alias nnn to n, if desired, without
    # making an infinitely recursive alias
    command nnn "$@"

    [ ! -f "$NNN_TMPFILE" ] || {
        . "$NNN_TMPFILE"
        rm -f -- "$NNN_TMPFILE" > /dev/null
    }
}
export NNN_FIFO=/tmp/nnn.fifo

vterm_cmd() {
    # Send elisp to Emacs via vterm escape
    printf '\e]51;E%s\a' "$1"
}

e() {
    # Open a file in Emacs from vterm
    # Usage: e path/to/file
    local file
    file="$(printf '%s' "$1" | sed 's/"/\\\\"/g')"   # escape double quotes
    vterm_cmd "(my-vterm-find-file \"${file}\")"
}


# Skim
if command -v sk > /dev/null; then
  source <(sk --shell bash)
fi


# opencode
export PATH="$HOME/.opencode/bin:$PATH"

export SUDO_ASKPASS="$HOME/.local/bin/sudo-askpass"
export MULTITUDE_DATA_DIR="$HOME/.multitude"
