[font]
size = 13
#size = 10
[font.normal]
#family = "BerkeleyMono Nerd Font Mono"
#style = "Regular"
family = "Cozette"
style = "Medium"


[font.offset]
x = 0
y = 0

[window]

opacity=1

[general]
import = ["~/.config/alacritty/current-theme.toml"]
