# Roots
root = {{ .chezmoi.homeDir }}/docs
root = ssh://shetaye@uruk/docs

# Conflict resolution — prefer remote
# prefer = ssh://shetaye@uruk/docs

batch = true
auto = true
times = true
#perms = 0

ignore = Name {.DS_Store}
ignore = Name {*.swp}
ignore = Name {*~}
